<!-- app/templates/index.html -->
<h1>Example Application</h1>
<style>
  form p label {
    display: inline-block;
    min-width: 13rem;
  }
</style>
<form method="post">
  {% csrf_token %} {{ company_form.as_p }}
  <button type="submit">Create Example Company</button>
</form>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  thead tr {
    background-color: #d8d8d8;
  }

  tbody tr:nth-child(even) {
    background-color: #d8d8d8;
  }
</style>
<h2>Companies</h2>
<table>
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Contact Email</th>
      <th>Contact Phone</th>
      <th>Accounts Receivable Email</th>
      <th>Company Type</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
    <tr>
      <td>{{ company.company_name }}</td>
      <td>{{ company.company_contact_email }}</td>
      <td>{{ company.company_contact_phone }}</td>
      <td>{{ company.accounts_receivable_email }}</td>
      <td>{{ company.company_type }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
